@import url('https://fonts.cdnfonts.com/css/gg-sans-2');

body {
    font-family: "gg sans normal", sans-serif;
}

#within-server {
    display: grid;
    height: 100%;
    grid-template-columns: 295px auto;
    grid-template-rows: 50px auto;
    grid-template-areas:
        "server-sidebar-head server-nav"
        "server-sidebar server-content";
    gap: 0;
    border-radius: 16px 0px 0px 0px;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px var(--divider);
}

.server-content {
    display: grid;
    grid-template-columns: auto 265px;
    grid-template-rows: auto;
    grid-template-areas:
        "contentarea members-list";
}



.profiles {
    grid-area: members-list;
    border-left: 1px solid var(--divider);
}

.server-sidebar {
    grid-area: server-sidebar;
    background-color: var(--maincolor);
    border-left: 1px solid var(--divider);
    height: 100vh
        /* Please don't hate, if it works don't touch it! */
}

.server-sidebar-head {
    grid-area: server-sidebar-head;
    background-color: var(--maincolor);
    border: 1px solid var(--divider);
    border-right: none;
}

.server-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'gg sans semibold', sans-serif;
    grid-area: server-nav;
    background-color: var(--maincontent);
    border-bottom: 1px solid var(--divider);
    border-top: 1px solid var(--divider);
}

.server-nav img {
    margin-left: 15px;
}

.server-content {
    grid-area: server-content;
    background-color: var(--maincontent);
}

.sidebar-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    padding: 4px;
    margin-top: 3px;
    border-radius: 5px;
    color: rgb(152, 153, 160);
}

.sidebar-container:first-child {
    margin-top: 10px;
}

.sidebar-container.active {
    background-color: rgb(65, 66, 72);
    color: rgb(255, 255, 255);

}

.sidebar-container:hover:not(.active) {
    background-color: rgb(51, 52, 58);
    color: rgb(255, 255, 255);
}

.sidebar-item {
    display: flex;
    align-items: center;
    width: 17em;
    display: flex;
    justify-content: start;
    cursor: pointer;
}

.content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 84% auto;
    grid-template-areas:
        "messages"
        "sendmessages";
    grid-area: contentarea;
}

.sendmessage {
    display: flex;
    grid-area: sendmessages;
    justify-self: center;
    align-items: center;
    width: 77.5em;
    height: 3.75em;
    background-color: rgb(57, 58, 65);
    border-radius: 10px;

}

#message {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 3.75em;
    width: 61em;
    font-size: 1em;
    color: white;
    outline: none;
    box-shadow: none;
    border: none;
}

#message:focus {
    caret-color: white;

    caret-shape: bar;
}