* {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

@import url('https://fonts.cdnfonts.com/css/gg-sans-2');

body {
    font-family: "gg sans normal", sans-serif;
}


:root {
    --blurple: #5865F2;
    --maincolor: rgb(44, 45, 50);
    --secondary: ;
    --maincontent: rgb(50, 51, 57);
    --divider: rgba(255, 255, 255, 0.08);

    --accenttoaccent: #99AAb5;
}

.header-nav {
    display: flex;
    grid-area: header;
    color: var(--accenttoaccent);
    background-color: var(--maincolor);
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: 0 16px;
    min-height: 30px;
}

.header-nav #header-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
}

.header-nav #header-text img {
    margin-right: 5px;
    height: 20px;
    width: auto;
}

.header-nav #header-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-nav #header-link a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    width: 25px;
    height: 25px;
    transition: all 0.1s ease-in-out;
}

.header-nav #header-link a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.icon-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 0px;
    grid-area: icon-list;
    color: antiquewhite;
    background-color: var(--maincolor);
}

.icon-list ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#holder {
    display: flex;
    justify-content: center;
}

.server-seprater {
    display: block;
    width: 80%;
    height: 1px;
    background-color: var(--divider);
    border: none;
    margin: 10px 0;
}

.icon-list ul li:first-child {
    margin-bottom: 0px;

}

.icon-list ul {

    justify-content: center;
}

.icon-list ul li {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-bottom: 10px;
    border: inset 1px var(--divider);
    border-radius: 10px;
    background-color: var(--maincontent);
    width: 40px;
    height: 40px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.icon-list ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2;
    width: 5px;
    height: 40%;
    background-color: var(--accenttoaccent);
    border-radius: 0 2px 2px 0;
    transform: translateX(-100%);
    transform: translateX(-30px);
    transition: transform 0.2s ease-in-out;
}

.icon-list ul li:hover::before {
    transform: translateX(-22px);
}

.icon-list ul li.active::before {
    height: 100%;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-22px);
}

.main-content {
    display: grid;
    grid-area: main-content;
    color: antiquewhite;
    background-color: var(--maincolor);
    gap: 0;
    grid-template-rows: auto 1fr;
    min-height: 100%;
}

#direct-message {
    height: 100%;
}

.profile {
    grid-area: profile;
    color: antiquewhite;
    background-color: #4f3852;
}

body {
    margin: 0;
    display: grid;
    height: 100vh;
    grid: [row1-start] "header header header" 30px [row1-end] [row2-start] "icon-list main-content main-content" 1fr [row2-end] [row3-start] "profile main-content main-content" 100px [row3-end] / 80px 50px auto;
}